/** @format */
ul {
  list-style-type: none;
}

.header {
  position: relative;
}

.header h1 {
  font-family: 'Cormorant Infant', serif;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.18px;
  text-align: center;
  color: #262626;
  margin-top: 39px;
}

.header h5 {
  font-family: 'Cormorant Infant', serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 0.08px;
  text-align: center;
  color: #595959;
  margin-top: 5px;
}

.nav {
  margin-top: 50px;
}

@media (max-width: 1000px) {
  .nav {
    margin-top: 40px;
  }
}

.nav__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1132px !important;
  padding-left: 0;
}

@media (max-width: 1000px) {
  .nav__menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__menu::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  position: absolute;
  bottom: 44px;
  margin-top: 50px;
}

@media (max-width: 1000px) {
  .nav__menu::before {
    display: none;
  }
}

.nav__menu-item {
  font-family: PTSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.08px;
  text-align: left;
  color: #262626;
}

.nav__menu-item a:hover {
  color: #48974c !important;
  cursor: pointer;
}

.nav-btn {
  position: absolute;
  display: block;
  width: 28px;
  height: 28px;
  top: 160px;
  right: 340px;
  z-index: 99;
}

@media (max-width: 768px) {
  .nav-btn {
    right: 340px;
    top: 160px;
  }
}

@media (max-width: 767px) {
  .nav-btn {
    right: 260px;
    top: 180px;
  }
}

@media (max-width: 450px) {
  .nav-btn {
    top: 220px;
    right: 200px;
  }
}

@media (max-width: 375px) {
  .nav-btn {
    top: 220px;
    right: 180px;
  }
}

@media (max-width: 320px) {
  .nav-btn {
    top: 280px;
    right: 140px;
  }
}

.nav-btn a {
  display: block;
  width: 30px;
  height: 30px;
}

@media (min-width: 1000px) {
  .nav-btn {
    display: none;
  }
}

.nav-btn span:after,
.nav-btn span:before {
  content: '';
  position: absolute;
  left: 0;
  top: 9px;
}

.nav-btn span:after {
  top: 18px;
}

.nav-btn span {
  position: relative;
  display: block;
}

.nav-btn span,
.nav-btn span:after,
.nav-btn span:before {
  width: 30px;
  height: 2px;
  background-color: #000;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.nav-btn.on span {
  background-color: transparent;
  width: 30px;
  height: 30px;
  position: fixed;
  z-index: 99;
}

.nav-btn.on span:before {
  -webkit-transform: rotate(45deg) translate(-1px, 0px);
      -ms-transform: rotate(45deg) translate(-1px, 0px);
          transform: rotate(45deg) translate(-1px, 0px);
  background-color: #000;
}

.nav-btn.on span:after {
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
      -ms-transform: rotate(-45deg) translate(6px, -7px);
          transform: rotate(-45deg) translate(6px, -7px);
  background-color: #000;
}

.slider {
  height: 579px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

@media (max-width: 1100px) {
  .slider {
    height: 450px;
  }
}

.slider__wrapper {
  width: 100%;
  height: 579px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 1100px) {
  .slider__wrapper {
    height: 450px;
  }
}

.slider__wrapper-items img {
  width: auto;
  height: 100%;
}

.slider__item {
  width: 100%;
  height: 579px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

@media (max-width: 1100px) {
  .slider__item {
    height: 450px;
  }
}

.slider__invitation {
  position: absolute;
  top: 90px;
  left: 380px;
  width: 552px;
  height: 356px;
  opacity: 0.95;
  background-color: #ffffff;
}

@media (max-width: 1100px) {
  .slider__invitation {
    width: 400px;
    height: 250px;
    left: 200px;
  }
}

@media (max-width: 600px) {
  .slider__invitation {
    width: 250px;
    height: 200px;
    left: 40px;
  }
}

.slider__invitation h1 {
  font-family: 'Cormorant Infant', serif;
  margin: 40px 0 19px 39px;
  width: 440px;
  height: 121px;
  font-size: 60px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.3px;
  text-align: left;
  color: #404040;
}

@media (max-width: 1100px) {
  .slider__invitation h1 {
    height: 100px;
    margin: 10px 0 5px 39px;
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .slider__invitation h1 {
    height: 30px;
    font-size: 20px;
    margin: 5px 5px 5px 10px;
  }
}

.slider__invitation p {
  font-family: 'PT Sans', sans-serif;
  margin-left: 38px;
  width: 480px;
  height: 126px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 0.09px;
  text-align: left;
  color: #404040;
}

@media (max-width: 1100px) {
  .slider__invitation p {
    width: 300px;
    height: 100px;
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .slider__invitation p {
    width: 200px;
    font-size: 12px;
  }
}

.owl-dots button {
  outline: none;
}

.owl-theme .owl-dots .owl-dot span {
  margin: 0 5px;
}

.owl-dots {
  position: absolute;
  opacity: 0.8;
  left: 420px;
  top: 450px;
}

@media (max-width: 1100px) {
  .owl-dots {
    left: 280px;
    top: 350px;
  }
}

@media (max-width: 600px) {
  .owl-dots {
    left: 140px;
  }
}

.owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  opacity: 1;
  background: #fff !important;
}

.posts {
  padding-bottom: 70px;
  background: url(../img/body__bg-img.png) no-repeat, center;
}

.posts__popular {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.posts__popular-card {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 25px;
  width: 552px;
  height: 693px;
  -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
}

@media (max-width: 540px) {
  .posts__popular-card {
    width: 370px;
  }
}

@media (max-width: 320px) {
  .posts__popular-card {
    width: 280px;
  }
}

.posts__popular-card_date {
  margin-top: 20px;
  margin-bottom: 15px;
}

.posts__popular-card_date span {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: 0.07px;
  text-align: left;
  color: #a6a6a6;
  margin-left: 5px;
}

.posts__popular-card_title {
  font-family: 'Cormorant Infant', serif;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  line-height: 0.8;
  letter-spacing: 0.15px;
  text-align: left;
  color: #262626;
  margin-bottom: 10px;
}

.posts__popular-card_text {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: 0.08px;
  text-align: left;
  color: #737373;
}

@media (max-width: 320px) {
  .posts__popular-card_text {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .posts__popular-card_socialWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.posts__popular-card_socialWrapper-button {
  width: 157px;
  height: 56px;
  border: solid 1px #48974c;
  background-color: #fff;
}

.posts__popular-card_socialWrapper > a {
  cursor: pointer;
  line-height: 2.5;
  padding: 10px 30px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.07px;
  text-align: left;
  color: #48974c;
}

.posts__popular-card_socialWrapper > a:hover {
  color: #48974c;
}

.posts__popular-card_socialWrapper-links {
  margin-top: 10px;
}

.posts__popular-card_socialWrapper-links > a {
  color: #cccccc;
  margin-left: 7px;
}

@media (max-width: 540px) {
  .posts__popular-card_socialWrapper-links > a {
    margin-left: 1px;
  }
}

.posts__popular-card_socialWrapper-links > a:hover {
  color: #48974c;
}

.posts__button-earlier {
  position: relative;
}

.posts__button-earlier > a {
  width: 157px;
  height: 56px;
  display: inline-block;
  margin-left: 25px;
  cursor: pointer;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.07px;
  text-align: left;
  color: #ffffff;
  background: #48974c;
  text-align: center;
  line-height: 4.4;
}

.posts__button-earlier > a:hover {
  color: #fff;
}

.posts__button-earlier::before {
  content: '';
  background: url(../img/icons/white-arrow.png) no-repeat, center;
  position: absolute;
  top: 25px;
  bottom: 0;
  left: 130px;
  width: 6px;
  height: 10px;
}

.posts__new {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.posts__new-card {
  width: 277px;
  height: 353px;
  background: #fff;
  padding: 25px 24px 23px 25px;
  margin-bottom: 1px;
}

.posts__new-card h5 {
  font-family: 'Cormorant Infant', serif;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.08;
  letter-spacing: 0.12px;
  text-align: left;
  color: #262626;
  margin-top: 10px;
}

.posts__new-card p {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: 0.08px;
  text-align: left;
  color: #737373;
}

.posts__new-card a {
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.06px;
  text-align: left;
  color: #48974c;
  text-decoration: none;
}

.posts__new-card a img {
  margin-right: 9px;
}

.posts__pagination {
  width: 342px;
  height: 56px;
  margin-top: 25px;
  margin-left: 50px;
}

@media (max-width: 400px) {
  .posts__pagination {
    margin-left: 0;
    width: 260px;
  }
}

.posts__pagination::before {
  content: '';
  width: 8px;
  height: 12px;
  background: url(../img/icons/arrow-right.png) no-repeat, center;
  -webkit-transform: translate(-15px, 22px);
      -ms-transform: translate(-15px, 22px);
          transform: translate(-15px, 22px);
}

@media (max-width: 400px) {
  .posts__pagination::before {
    -webkit-transform: translate(-8px, 16px);
        -ms-transform: translate(-8px, 16px);
            transform: translate(-8px, 16px);
  }
}

.posts__pagination::after {
  content: '';
  width: 8px;
  height: 12px;
  background: url(../img/icons/arrow-right.png) no-repeat, center;
  -webkit-transform: rotate(180deg) translate(-15px, -22px);
      -ms-transform: rotate(180deg) translate(-15px, -22px);
          transform: rotate(180deg) translate(-15px, -22px);
}

@media (max-width: 400px) {
  .posts__pagination::after {
    -webkit-transform: rotate(180deg) translate(-8px, -16px);
        -ms-transform: rotate(180deg) translate(-8px, -16px);
            transform: rotate(180deg) translate(-8px, -16px);
  }
}

.posts__pagination a {
  width: 56px;
  height: 56px;
  -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  text-align: center;
  line-height: 3.4;
  text-decoration: none;
  color: #262626;
}

@media (max-width: 400px) {
  .posts__pagination a {
    line-height: 2.5;
    width: 40px;
    height: 40px;
  }
}

.posts__pagination a:hover {
  color: #fff;
  background-color: #48974c;
}

.posts__pagination span {
  margin-top: 10px;
}

@media (max-width: 400px) {
  .posts__pagination span {
    margin-top: 5px;
  }
}

@media (max-width: 768px) {
  .displayNone {
    display: none;
  }
}

.about {
  height: 560px;
  width: 100%;
  background: url(../img/about__img.jpg) no-repeat, center;
  position: relative;
}

.about__more {
  position: absolute;
  bottom: 70px;
  left: 393px;
}

@media (max-width: 800px) {
  .about__more {
    left: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__more span {
  display: inline-block;
  width: 212px;
  height: 56px;
  background-color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3;
  letter-spacing: 0.09px;
  text-align: left;
  color: #262626;
}

.about__more a {
  cursor: pointer;
  display: inline-block;
  width: 146px;
  height: 56px;
  background-color: #48974c;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 4;
  letter-spacing: 0.07px;
  text-align: left;
  color: #ffffff;
}

.banner {
  background: url(../img/body__bg-img.png) no-repeat, center;
  padding: 70px 0;
}

.banner__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .banner__wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.banner__facebook {
  cursor: pointer;
  padding: 31px 35px 35px 35px;
  -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
}

@media (max-width: 1200px) {
  .banner__facebook {
    width: 358px;
    height: 281px;
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .banner__facebook {
    width: 100%;
  }
}

.banner__empty {
  cursor: pointer;
  padding: 124px 330px;
  -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
}

@media (max-width: 800px) {
  .banner__empty {
    width: 100%;
    padding: 0;
    height: 251px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.banner h5 {
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.08;
  letter-spacing: 0.12px;
  color: #262626;
}

.footer {
  background-color: #404040;
  padding-top: 48px;
  padding-bottom: 20px;
}

.footer span {
  display: block;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.14px;
  text-align: left;
  color: #999999;
  margin-top: 50px;
  position: relative;
}

.footer span::before {
  content: '';
  height: 1px;
  background-color: #999999;
  position: absolute;
  bottom: 25px;
  width: 100%;
}

@media (max-width: 411px) {
  .footer span::before {
    bottom: 50px;
  }
}

.footer__title {
  font-family: 'Cormorant Infant', serif;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: 0.18px;
  text-align: left;
  color: #ffffff;
}

@media (max-width: 992px) {
  .footer__title {
    text-align: center;
  }
}

.footer__subtitle {
  font-family: 'Cormorant Infant', serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 0.08px;
  text-align: left;
  color: #ffffff;
}

@media (max-width: 992px) {
  .footer__subtitle {
    text-align: center;
  }
}

@media (max-width: 992px) {
  .footer__menu {
    padding-left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__menu-item {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.13;
  letter-spacing: 0.08px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}

.footer__menu-item a {
  cursor: pointer;
}

.footer__menu-item a:hover {
  color: #48974c;
}

@media (max-width: 992px) {
  .footer__social-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__social-links a {
  color: #a5a5a5;
}

.footer__social-links a:hover {
  color: #48974c;
}

@media (max-width: 768px) {
  .paddingRight {
    padding-right: 0 !important;
  }
}

.displayFlex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
